section.hero(id='main')
  include ../main-header/main-header

  .container
    .row
      .col-lg-7(data-aos='fade-right')
        .padding_bottom.hidden-md-down
        h3.hero__header.hero__header_3 Обучение составлено по просьбам #[span.text_highlight реальных] инвесторов
        h1.hero__header.hero__header_1 Бесплатный курс #[b для начинающих] по инвестициям в криптовалюту
        h2.hero__header.hero__header_2 Разработан профессионалами, к мнению которых прислушиваются федеральные СМИ
      .col-lg-5.hidden-md-down(data-aos='fade-left')
        .row
          .col-9.offset-3
            img(src='/images/photo-1.jpg' style='max-height: 350px')

    h3.hero__header.hero__header_3(data-aos='fade-up') Бесплатно до конца месяца, потом 10000 рублей

    #mlb2-5553273.ml-subscribe-form.ml-subscribe-form-5553273
      form.row.padding_top_half.ml-block-form(
        action='//app.mailerlite.com/webforms/submit/k5y1y0'
        data-id='488069'
        data-code='k5y1y0'
        method='POST'
        target='_blank'
      )
        input(type='hidden', name='ml-submit', value='1')

        .col-sm-8.col-md-9.col-lg-7.col-xl-6.offset-sm-2.offset-md-0
          .row
            .col-md-6
              .form__group.form__group_lg.margin_bottom_half.form-group.ml-field-email.ml-validate-required.ml-validate-email
                input.form__input.form-control(type='email' name='fields[email]' required placeholder='E-mail')
            .col-md-6
              button.button.button_block.button_lg Получить первый урок
